<div class="login">
  <div class="signin-content">
    <mat-card color="dark">
      <mat-card-content>
        <div fxLayout="row wrap" class="p-12">
          <div fxFlex="100" fxLayoutAlign="center start">
            <img src="assets/images/logos/sample.png" width="130" alt="" class="logo">
          </div>
          <div fxFlex="100" fxLayoutAlign="center start">
            <h4>QTronics</h4>
          </div>
          <div fxFlex="100" fxLayoutAlign="center start" *ngIf="error$ | async as error">
            <mat-icon>error</mat-icon> {{error | json}}
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-12">
          <p>Please login to continue</p>
          <mat-form-field class="full-width-input">
            <input type="email" matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="submitted && f.email.errors && f.email.errors.required"> email cannot be blank </mat-error>
            <mat-error *ngIf="submitted && f.email.errors && f.email.errors.email"> please provide a valid email </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="submitted && f.password.errors && f.password.errors.required"> password cannot be blank </mat-error>
          </mat-form-field>
          <div class="py-12">
            <button mat-raised-button color="primary"> <img src="assets/images/anime/loader.gif" class="mr-4" width="20" alt="" *ngIf="loading$ | async as loading"> Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
