.login {
    background-image: url('/assets/images/backgrounds/auth_bg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

mat-card {
  max-width: 400px;
  margin: 15% auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}
