<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Our Services</h2>
      <p>We provide a broad spectrum of services ranging from parts supply to expert level repairs in below areas. For anything additional please feel free to contact us using the contact form provided below.</p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>dashboard</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Laptop Troubleshooting</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">We repair and upgrade laptop devices from various vendors. Our expert level repair engineers have every ability to bring your machine back to life</p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>perm_data_setting</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Server Troubleshooting</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Our capable engineers can diagnose, troubleshoot and fix various server types from a broad list of vendors.</p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>storage</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Printers Troubleshooting</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">We provide expert level printer and network printer troubleshooting service.</p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>stay_primary_portrait</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">DataCenter Troubleshooting</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Data center support service is available with us but at a limited level at the moment.</p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
