// Layout Global Padding Styles

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 4px;
}

.p-12 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.px-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-20 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 4px;
}

.pl-12 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 4px;
}

.pr-12 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

// Layout Global Margin Styles

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 4px;
}

.m-12 {
  margin: 8px;
}

.m-16 {
  margin: 16px;
}

.m-20 {
  margin: 20px;
}

.m-24 {
  margin: 24px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-20 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-20 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 4px;
}

.ml-12 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 4px;
}

.mr-12 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}
