<div fxLayout="row wrap" class="p-20">
  <div fxFlex="100">
    <h4>Dashboard</h4>
  </div>

  <div fxFlex="100" fxLayout="row">
    <div fxFlex="100">
      <h5>Issues(0)</h5>
      <span fxFlex></span>
      <button mat-flat-button color="primary">Request Quote</button>
    </div>

    <p>No Issues available to show</p>
  </div>

  <div fxFlex="100">
    <div fxFlex="100">
      <h5>Quotes(0)</h5>
      <span fxFlex></span>
      <button color="primary">Request Quote</button>
    </div>

    <p>No quotes requested by you</p>
  </div>
</div>
